#Ignore files that shouldn't be shared
.obsidian/workspace-mobile.json
.obsidian/workspace.json

# Syncthing folder marker
.stfolder/
# Syncthing trashbin
.stversions/

# Things that dont need to be uploaded
lazygit.exe
battle block flaminngos (broken).eje
*.eje